<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
    <h1>Welcome to the Task Manager</h1>
  </head>
  <div class="navbar">
    <ul>
      <li><a href="/tasks">All Tasks</a></li>
      <li><a href="/tasks/new">New Task</a></li>
    </ul>
  </div>
</html>
