
  <form action="/tasks" method="post">
    <p>Enter a new task:</p>
    <p><input type="text", name='task[title]'/><br</></p>
    <p><textarea name='task[description]'></textarea><br/></p>
    <p><input type='submit'/></p>

  </form>
