<!DOCTYPE html>
<html>
  <head>
    <title>New Task</title>
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
    <h1>New Task</h1>
  </head>
  <div class="navbar">
    <ul>
      <li><a href="/tasks">All Tasks</a></li>
    </ul>
  </div>
  <body>
    <form action="/tasks" method="post">
      <p>Enter a new task:</p>
      <p><label>Title:</label><br/>
         <input type="text", name='task[title]'/></p>
      <p><label>Priority:</label><br/>
          <input type="number", name='task[priority]'/></p>
      <p><label for="task[due_date]">Due Date:</label><br/>
          <input type="datetime", name='task[due_date]'/></p>
          <p><label>Description:</label><br/>
            <textarea name='task[description]'></textarea></p>
      <p><input type='submit'/></p>

    </form>
  </body>
</html>
